version: "3.9"

services:
  backend:
    build: ./backend
    container_name: teamhive-backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    depends_on:
      - mongodb

  client:
    build: ./client
    container_name: teamhive-client
    ports:
      - "5173:5173"
    env_file:
      - ./client/.env
    depends_on:
      - backend

  mongodb:
    image: mongo:latest
    container_name: teamhive-mongodb
    ports:
      - "27018:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
      MONGO_INITDB_DATABASE: teamsync_db
    volumes:
      - mongodb_data:/data/db

volumes:
  mongodb_data:
